<main class="grid bg-background2 min-h-screen w-full text-gray-100 justify-items-center py-10">
    <div class="max-w-6xl mx-auto">
    <header class="flex flex-col items-center justify-center">
        <p class="text-6xl font-bold pb-[1rem]">About Me</p>
        <p class="text-lg pb-[2rem] text-center ">I am Full stack Software engineer with 5 years experience of leveraging 
            full stack software expertise to build interactive and user-centered web and mobile applications to scale. 
            I bring a passion for problem-solving, a commitment to quality code, and a strong foundation in software development principles.</p>
    </header>
    
    <section class="flex flex-col md:flex-row gap-4">
        <div class=" md:min-w-[50%] px-2">
            
            <div class="md:w-[80%] h-full border-4 border-accent relative rounded-sm">
                <img src="assets/amb_p1.jpg" alt="software engineer in Canada" class=" object-cover relative top-2 left-2 rounded-sm overflow-clip"/>
            </div>
        </div>
        <div class="flex flex-col items-start justify-center p-4">
            <p class="text-3xl text-accent font-semibold md:pb-10">Ambroze Muhumuza</p>
            <p class="font-semibold tracking-wider text-lg">Software Engineer</p>
            <p class="text-wrap">As a software engineer at Jentroy Ltd, I created and maintained scalable applications using Python, C#, 
                Javascript, and PHP for the backend, and HTML, CSS, 
                Javascript/React/React native/JQuery/Vue/Redux, and Dart. I'm also proficient with developing 
                REST APIs and application security. 
                I am passionate about developing innovative solutions that solve real-world problems 
                and enhance user satisfaction. I am also currently pursuing a certificate in .Net Full Stack 
                Cloud Developer from Humber College, where I am learning the latest skills and best practices for 
                cloud computing.</p> <p>I have a bachelor's degree in computer science, and I'm  scheduled to graduate 
                for Masters of Computer Science in early 2025.
                I'm eager to apply my knowledge  and skills to new challenges and to learn from other experts in the field.</p>
                <div class="flex gap-10">
                    <button class="bg-accent text-white py-2 px-3 rounded-sm hover:bg-transparent hover:text-accent hover:border-2 border-accent">Download Resume</button>
                    <button class=" text-accent py-2 px-6 rounded-sm border-2 border-accent hover:bg-accent hover:text-white">Contact Me</button>
                </div>
            </div>
        
        
    </section>
    
    <!-- second section -->
    <section class="grid md:grid-cols-2 mt-10 w-full gap-4">

        <!-- left grid -->
        <div class="flex flex-col w-full h-full p-4 md:p-0">
           <span class="text-lg font-bold tracking-wider md:mb-10 mb-4">My Journey</span>
           <!-- upper grid -->
           <div class="grid grid-cols-2 gap-3">
          
                <div class="flex items-start" *ngFor="let tag of aboutTags">
                    <div class="mr-4 border-2 border-accent bg-accent items-center p-1 rounded-sm hover:fill-accent hover:bg-transparent">
                        <span [innerHTML]="sanitizeHTML(tag.icon)"></span>
                    </div>
                    <div class="flex flex-col justify-start">
                        <span class="font-semibold tracking-wider text-accent">{{tag.title}}</span>
                        <span class="text-xs">{{tag.sub}}</span>
                    </div>
                </div>

               
                
           </div>
        </div>

        <!-- right grid  -->
        <div class="flex flex-col items-start justify-start md:pl-4 px-4 md:p-0">
            <span class="text-lg font-bold tracking-wider md:mb-10 mb-2">The other side of me</span>

            <div class="flex justify-between w-full">
               <div class="flex items-center">
                <svg class="iconsecondary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                  </svg>
                  <span class="pl-4">Books</span>
                </div>

                <div class="flex items-center">
                    <svg class="iconsecondary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                        <path d="M2 1.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V5h.5A1.5 1.5 0 0 1 8 6.5V7H7v-.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5H4v1H2.5v.25a.75.75 0 0 1-1.5 0v-.335A1.5 1.5 0 0 1 0 13.5v-7A1.5 1.5 0 0 1 1.5 5H2zM3 5h2V2H3z"/>
                        <path d="M2.5 7a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0v-5a.5.5 0 0 1 .5-.5m10 1v-.5A1.5 1.5 0 0 0 11 6h-1a1.5 1.5 0 0 0-1.5 1.5V8H8v8h5V8zM10 7h1a.5.5 0 0 1 .5.5V8h-2v-.5A.5.5 0 0 1 10 7M5 9.5A1.5 1.5 0 0 1 6.5 8H7v8h-.5A1.5 1.5 0 0 1 5 14.5zm9 6.5V8h.5A1.5 1.5 0 0 1 16 9.5v5a1.5 1.5 0 0 1-1.5 1.5z"/>
                      </svg>
                      <span class="pl-4">Travel</span>
                    </div>

                    <div class="flex items-center">
                        <svg class="iconsecondary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                            <path d="M2.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1m2 0a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1m7.5-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m1.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1m-7-1a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm5.5 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                            <path d="M11.5 13a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5m0-1a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3M5 10.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                            <path d="M7 10.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0m-1 0a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
                            <path d="M14 0a.5.5 0 0 1 .5.5V2h.5a1 1 0 0 1 1 1v11a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h12.5V.5A.5.5 0 0 1 14 0M1 3v3h14V3zm14 4H1v7h14z"/>
                          </svg>
                          <span class="pl-4">Music</span>
                        </div>

                        <div class="flex items-center">
                            <svg class="iconsecondary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                                <path d="m5.93 6.704-.846 8.451a.768.768 0 0 0 1.523.203l.81-4.865a.59.59 0 0 1 1.165 0l.81 4.865a.768.768 0 0 0 1.523-.203l-.845-8.451A1.5 1.5 0 0 1 10.5 5.5L13 2.284a.796.796 0 0 0-1.239-.998L9.634 3.84a.7.7 0 0 1-.33.235c-.23.074-.665.176-1.304.176-.64 0-1.074-.102-1.305-.176a.7.7 0 0 1-.329-.235L4.239 1.286a.796.796 0 0 0-1.24.998l2.5 3.216c.317.316.475.758.43 1.204Z"/>
                              </svg>
                              <span class="pl-4">Family</span>
                            </div>
            </div>

            

        </div>

    </section>

   
</div>
</main>

