
<div class="flex items-center justify-center bg-background2 h-full w-full mb-0 text-gray-100 ">
    <div class="max-w-6xl mx-auto ">
    <header class="flex flex-col items-center justify-center">
        <p class="text-6xl font-bold pb-[1rem]">Solutions I have crafted</p>
        <p class="text-lg pb-[2rem] text-center ">A list of the projects that I have worked on ranging from multiple languages and frameworks.</p>
    </header>
    <main class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
        <app-servicecard></app-servicecard>
        <app-servicecard></app-servicecard>
        <app-servicecard></app-servicecard>
        
    </main>
</div>
</div>