<div class="h-screen flex flex-col">
<mat-toolbar class="relative z-10 w-full bg-black text-gray-50">
  <button mat-button>
    <mat-icon mat-icon-button (click)="ToggleMenu()">menu</mat-icon>
    
  </button>
  Ambroze Muhumuza
</mat-toolbar>
<mat-sidenav-container class="h-screen flex">
  <mat-sidenav mode="side" opened *ngIf="collapsed"[style.width] ="'250px'" class="bg-black text-gray-50">
    <app-sidenav>

    </app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>