<div class="flex items-center justify-center bg-background2 h-full w-full mb-0 text-gray-100 ">
    <div class="max-w-6xl mx-auto ">
    <header class="flex flex-col items-center justify-center">
        <p class="text-6xl font-bold pb-[1rem]">Software Development Solutions</p>
        <p class="text-lg pb-[2rem] text-center ">I have experience building a wide range of software products, including desktop applications, 
            websites, native mobile apps, web apps, cross-platform apps, and so much more. I take a holistic approach to software development. I take the time to get to know your 
            business, industry, operations, and processes. By doing so, I can build a software product that meets your needs and provides value to your business.</p>
    </header>
    <main class="grid md:grid-cols-2 lg:grid-cols-3">
        <app-servicecard></app-servicecard>
    </main>
</div>
</div>