<div class="flex items-center justify-center bg-background2 w-full mb-0 text-gray-100 py-20">
    <div class="max-w-6xl mx-auto ">
    <header class="flex flex-col items-center justify-center">
        <p class="text-6xl font-bold pb-[1rem]">Software Development Services</p>
        <p class="text-lg pb-[2rem] text-center ">I have experience building a wide range of software products, including desktop applications, 
            websites, native mobile apps, web apps, cross-platform apps, and so much more. I take a holistic approach to software development. I take the time to get to know your 
            business, industry, operations, and processes. By doing so, I can build a software product that meets your needs and provides value to your business.</p>
    </header>
    
    <main class="grid md:grid-cols-3 gap-4" >
        <app-card *ngFor="let item of myservices" [mydata] ="item"></app-card>
    </main>
</div>
</div>
