
    <div class=" bg-[url('assets/bg2.jpg')] bg-cover h-full w-full mb-0">
        <div class="flex flex-col w-full h-full xl:pl-80 sm:pl-20 justify-center bg-gradient-to-tr from-background2 ">
            <p class=" text-gray-600 text-2xl">Hi there, I'm</p>
            <h1 class=" text-gray-100">Ambroze M <span class="animate-pulse text-primary">></span></h1>
          
              
            <p class=" text-gray-100 text-4xl">I'm a Software Engineer</p>
        </div>
    
   
    </div>


